<%- include("partials/header") %>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="styles.css">

    </head>

    <body>

        <h1>HOME</h1>

        <p>
            <%= home %>
        </p>



        <% postobject.forEach(function (loop){%>
            <h1>
                <%=loop.Title %>
            </h1>
            <p>

                <%=loop.Compose.substring(0,100)+"...."%>
                    <a href="/posts/<%= loop.Title %>">read more</a>


            </p>

            <% }) %>





    </body>

    </html>
    <%- include("partials/footer") %>